body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#nav-list{
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: aquamarine;
}

.nav-bar> li{
  list-style: none;
  text-decoration: none;
  padding: 10px;
 
}

.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  text-decoration: none;
}

a:hover{
  color: aliceblue;
}

#slider{
  height: 400px;
  width: 100%;
  background-image: url("/public/frt.jpg");
  opacity: 0.9;
  
}

#contact{
  height: 200px;
  width: 100%;
  background-color: rgb(41, 40, 40);
  bottom: 0;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
}


#post-container{
  height: 400px;
  width: 100%;
  background-color: aquamarine;
}


.footer-form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.slider-image{
  font-style: italic;
  font-size: 20px;
  text-align: right;
  color: black;

  
}